[Unit]
Description=Gunicorn daemon for Django backend
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/Campus-detection/back_end
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0755
LogsDirectory=gunicorn
LogsDirectoryMode=0755
ExecStart=/var/www/Campus-detection/back_end/venv/bin/gunicorn \
    --access-logfile /var/log/gunicorn/access.log \
    --error-logfile /var/log/gunicorn/error.log \
    --access-logformat '%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"' \
    --workers 3 \
    --bind unix:/run/gunicorn/gunicorn-campus.sock \
    campus_detection.wsgi:application

[Install]
WantedBy=multi-user.target
